In [1]:
import numpy as np
import pandas as pd

import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.read_csv('https://openmv.net/file/unlimited-time-test.csv')

    Grade  Time
0    85.0   127
1    79.2   152
2    74.2   115
3    71.7   152
4    80.0   152
..    ...   ...
75   74.2   247
76   74.2   231
77   84.2   217
78   83.3   228
79   88.3   175

[80 rows x 2 columns]

In [12]:
data = pd.read_csv('data/class-grades.csv')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefix      99 non-null     int64
 1   Assignment  99 non-null     float64
 2   Tutorial    99 non-null     float64
 3   Midterm     99 non-null     float64
 4   TakeHome    98 non-null     float64
 5   Final       96 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB